/*

  Folha de estilo customizada

*/

h1{
	display: inline-block;
}

h2{
	font-size: 20px;
}
.ul-service-home{
	text-decoration: none;
	list-style: none;
}
.padding-35-y{
  padding: 35px 0;
}
.site-footer{
  padding-top: 10px;
  background-color: #F8F8F8;
}
.services-subtitles{
  margin-top: -15px;
  color: rgb(33, 150, 243);
  font-size: 27px;
}

header{
	background-color: rgba(187, 187, 187, 0.31);
}
.menu-tab ul{
	display: inline-block;
}

.menu-tab li a{
	color: #6F6F6F;
}

.menu-tab li{
	height: 100px;
}

.menu-tab img{
	float: left;
}

article{
	margin: 45px 0;
}