// Exemplo básico como se trabalhar com o sass (scss).

$gray : darken(#f7f7f7, 4);
$blue : lighten(#152e4d, 18);

body{
	background-color: $gray;
	article{
		background-color: #ffffff;
		padding: 50px 10px 0 10px;
	}
	h2{
		font-size: 22px;
	}
	h3{
		font-size: 18px;
		text-transform: uppercase;
	}
	.services-block{
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		padding: 10px;
	}
	textarea{
		border: 1px solid rgba(0, 0, 0, 0.2);
		margin: 10px; 
		width: 90%;
		height: 200px;
		background-color: $gray;
		resize:none;
	}
	input{
		border: 1px solid rgba(0, 0, 0, 0.2);
		margin: 10px; 
		width: 90%;
		height: 30px;
		background-color: $gray;
	}
	input:nth-child(3){
		background-color: darken($gray, 10);
		color: black;
		width: 200px;
	}

	::-webkit-input-placeholder {
	  padding-left: 5px;
	  font-size: 12px;
	  font-family: Arial;
	}

	:-moz-placeholder { /* Firefox 18- */
	  padding-left: 5px;
	  font-size: 12px;
	  font-family: Arial;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	  padding-left: 5px;
	  font-size: 12px;
	  font-family: Arial;  
	}

	:-ms-input-placeholder {  
	  padding-left: 5px;
	  font-size: 12px;
	  font-family: Arial;  
	}

	header{
		background-color: $blue;
		position: fixed;
		top: 0; 
		.top-nav{
			.top-nav-iten{
				a{
					text-decoration: none;
					color: #ffffff;
				}
			}
		}
	}

	footer{
		background-color: $blue;
		section{
			color: #ffffff;
			background-color: $blue;
		}
	}

}

